asgiref==3.8.1
click==8.1.8
Django==5.2
djangorestframework==3.16.0
dotenv==0.9.9
drf-yasg==1.21.10
h11==0.16.0
inflection==0.5.1
mysqlclient==2.2.7
packaging==25.0
python-dotenv==1.1.0
pytz==2025.2
PyYAML==6.0.2
sqlparse==0.5.3
uritemplate==4.1.1
uvicorn==0.34.2
whitenoise==6.9.0
